.title{
    text-align: center;
    margin: 70px 0;
    text-transform: uppercase;
    color: #212EA0;
}

.title h2{
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}
